---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.sitemapPages %}
  <url>
    <loc>{{ item.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ item.date | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ "1.0" if item.url == "/" else "0.7" }}</priority>
  </url>
{%- endfor %}
</urlset>
